.DS_Store
.idea
.vscode
.emacs.desktop
.emacs.desktop.lock
\#*
*~
*.vcd
runs
tmp
sim
src/sim_build
src/__pycache__/
src/__tinytapeout
src/results.xml
src/user_config.tcl
*.v.bak
verible.filelist
modelsim.ini
qrun.log
transcript
work/*
src/FILTER/work/*